#notas-fiscais {
  background: var(--cor-fundo-body);
  height: 46px;
  margin-left: -10px;
  padding: 10px;
  color: var(--cor-fundo-sidebar);
  border: none;
  border-radius: 25px 0 0 25px;
}
.notas-emitidas-filtro {
  display: flex;
  position: relative;
  width: calc(100% - 215px);
  left: 215px;
  height: 80px;
  padding: 5px;
}
#filtrar-por {
  padding: 5px;
}
.filtro-mes-trimestre {
  display: flex;
  flex-direction: column;
}
.filtro-mes {
  display: flex;
  position: relative;
  width: calc(100% - 215px);
  left: 70px;
  height: 25px;
  justify-content: space-around;
  align-items: center;
}
.mes {
  width: 73px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  padding-top: 4px;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.2);
}
.filtro-notas {
  display: flex;
  position: relative;
  width: calc(100% - 215px);
  left: 75px;
  height: 25px;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}
.notas-fiscais {
  width: 159px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.2);
}
.notas-fiscais-status {
  height: 27px;
  border: none;
  background: transparent;
  text-align: center;
  align-items: end;
  font-size: 17px;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.2);
}
.selected {
  background-color: rgb(221, 98, 4);
  color: white;
}
.filtro-ano {
  display: flex;
  flex-direction: column;
  margin-left: -50px;
}
.ano {
  height: 27px;
  border: none;
  background: transparent;
  box-shadow: 4px 4px 4px rgba(58, 58, 58, 0.2);
}
.notas-emitidas-lista {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 215px);
  left: 215px;
  height: 520px;
}
.espaco-lista {
  display: flex;
  position: relative;
  width: calc(100% - 30px);
  height: 520px;
  justify-content: space-evenly;
  padding: 10px 30px 30px 30px;
}
.lista-notas {
  display: flex;
  position: relative;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.2);
  overflow-y: scroll;
  border-spacing: 0;
  border: 1px solid #d6d6d6d2;
}
.lista-notas table {
  border-collapse: collapse;
  width: 100%;
}
.lista-notas th {
  height: 37px;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #dfdfdf;
}
.lista-notas th,
.lista-notas td {
  width: 170px;
  border-bottom: 1px solid #c4c4c4;
}
.lista-notas td {
  height: 40px;
  font-size: 14px;
  text-align: center;
}
.lista-notas tr:hover {
  background-color: rgba(201, 201, 201, 0.836);
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2bd;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff6c;
}
.lista-notas::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.588);
  border-radius: 10px;
}
.lista-notas::-webkit-scrollbar-thumb {
  background-color: rgba(43, 43, 43, 0.356);
  border-radius: 10px;
}
#arrow-icon {
  font-size: 14px;
}
.bi-list {
  cursor: pointer;
}