* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-fundo-sidebar: rgb(221, 98, 4);
  --cor-fundo-body: rgb(240, 240, 240);
  --cor-fundo-grafico: rgba(255, 255, 255, 0.506);
  --cor-sombra: rgba(58, 58, 58, 0.096);
  --cor-primaria: rgba(255, 255, 255, 0.925);
  --cor-select: rgba(139, 155, 142, 0.849);
  --cor-borda-pesquisa: rgba(0, 0, 0, 0.548);
  --cor-tabela-thead: rgb(209, 209, 209);
  --cor-tabela-even: rgba(224, 224, 224, 0.741);
  --cor-tabela-odd: rgba(240, 240, 240, 0.424);

  --tamanho-width-conteudo: calc(100% - 215px);
}
body {
  background: var(--cor-fundo-body);
  font-family: Geneva, sans-serif;
}