:root {
  --cor-fundo-sidebar: #dd6204;
  --cor-fundo-body: #f0f0f0;
  --cor-texto-branco: #ffffffec;
  --cor-texto-preto: rgba(0, 0, 0, 0.781);
  --cor-campo-pesquisa: rgba(0, 0, 0, 0.548);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geneva, sans-serif;
}
body {
  background: var(--cor-fundo-body);
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 215px;
  height: 100vh;
  background: var(--cor-fundo-sidebar);
  color: var(--cor-texto-branco);
}
.sidebar a {
  color: inherit;
}
.logo-empresa {
  display: flex;
  align-items: center;
  height: 50px;
  /* margin: 12px; */
  color: var(--cor-texto-branco);
  /* background: red; */
}
.nome-empresa {
  margin-left: 10px;
}
#logo-uneCont {
  background: #ffffff;
  border-radius: 0 0 50%;
  padding: 7px;
  margin-top: -5px;
}
.sidebar-links {
  display: flex;
  position: relative;
  top: 17px;
  left: 20px;
  height: 47px;
  align-items: center;
  color: var(--cor-texto-branco);
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
}
.sidebar-links a {
  text-decoration: none;
  margin-left: 15px;
}
.sidebar-highlight {
  position: absolute;
  left: 10px;
  top: 63px;
  width: calc(100% - 10px);
  height: 46px;
  background: var(--cor-fundo-body);
  border-radius: 25px 0 0 25px;
  transition: top 0.2s;
}
.sidebar-links:nth-of-type(1):hover {
  color: var(--cor-fundo-sidebar);
}
.sidebar-links:nth-of-type(1):hover ~ .sidebar-highlight {
  top: 63px;
}
.sidebar-links:nth-of-type(2):hover {
  color: var(--cor-fundo-sidebar);
}
.sidebar-links:nth-of-type(2):hover ~ .sidebar-highlight {
  top: 110px;
}
.sidebar-links:nth-of-type(3):hover {
  color: var(--cor-fundo-sidebar);
}
.sidebar-links:nth-of-type(3):hover ~ .sidebar-highlight {
  top: 157px;
}
.sidebar-links:nth-of-type(4):hover {
  color: var(--cor-fundo-sidebar);
}
.sidebar-links:nth-of-type(4):hover ~ .sidebar-highlight {
  top: 204px;
}
.sidebar-links:nth-of-type(5):hover {
  color: var(--cor-fundo-sidebar);
}
.sidebar-links:nth-of-type(5):hover ~ .sidebar-highlight {
  top: 251px;
}
.sidebar-links:nth-of-type(6):hover {
  color: var(--cor-fundo-sidebar);
}
.sidebar-links:nth-of-type(6):hover ~ .sidebar-highlight {
  top: 298px;
}
.sidebar-links:nth-of-type(7):hover {
  color: var(--cor-fundo-sidebar);
}
.sidebar-links:nth-of-type(7):hover ~ .sidebar-highlight {
  top: 345px;
}
